{
  "presets": [
    [
      "latest", {
      "es2015": {
        "modules": false
      }
    }
    ],
    "es2015",
    "es2016",
    "react"
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error"]
    }],
    "transform-runtime"
  ]
}